<main>
    <h1>Dashboard</h1>
    <p>Welcome, <%= user.username %></p>
    <% if (!user.hasOTP) { %>
        <p>to enable OTP click the button below</p>
            <a href="/generate-otp">Generate OTP</a>
    <% } else { %>
        <h1>Scan the QR Code</h1>
    <img src="<%= imageUrl %>" alt="QR Code">
    <p>Scan this QR code with your authenticator app.</p>
    <form action="/verify-otp" method="POST">
        <label for="token">Enter OTP:</label>
        <input type="text" id="token" name="token" required>
        <button type="submit">Verify</button>
    </form>
        <a href="/otp">Disable OTP</a>        
    <% } %>
    <a href="/logout">Logout</a>
</main>